.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline{
	margin-left: 0;
}
.checkbox-inline, .radio-inline{
	margin-right: 1em;
}

#preview_progressbarTW_img1, #preview_progressbarTW_img2 {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 2px;
	width: 384px;
	margin-top: 5px;
	margin-bottom: 20px;
}

#preview_progressbarTW_img1:hover, #preview_progressbarTW_img2:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.kk-ad-input{
	border: 1px solid #ddd;
	padding:10px;
    font-size:20px;
    margin-top:5px;
}






