/* =================================
------------------------------------
  Food Blog - Web Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	color: #474747;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14.1px;
	color: #838383;
	line-height: 2.1;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 48px;
	position: relative;
	padding-top: 18px;
}

.section-title:after {
	position: absolute;
	content: "";
	width: 56px;
	height: 5px;
	left: 0;
	top: 0;
	background: #7dccff;
	-webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.section-title h2,
.section-title h3 {
	font-weight: 700;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 96px;
	padding-bottom: 96px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.rating i {
	color: #fbb710;
}

.rating .is-fade {
	color: #e0e3e4;
}

/*---------------------
	Commom elements
-----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	min-width: 178px;
	text-align: center;
	border: none;
	padding: 18px 5px;
	font-weight: 400;
	font-size: 14px;
	position: relative;
	color: #fff;
	cursor: pointer;
	background: #7dccff;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
  Header section
---------------------*/

.header-section {
	clear: both;
}

.header-top {
	background: #7dccff;
	overflow: hidden;
	padding: 18px 0;
}

.header-social {
	float: left;
}

.header-social a {
	color: #fff;
	margin-right: 35px;
}

.user-panel {
	float: right;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.user-panel a {
	color: #fff;
}

.header-bottom {
	padding: 10px 0 35px 0;
	position: relative;
}

.site-logo {
	display: inline-block;
	padding-bottom: 10px;
	height: 40px;
}

.nav-switch {
	display: none;
}

.main-menu,
.footer-menu {
	list-style: none;
	float: right;
	margin-right: 160px;
}

.main-menu li,
.footer-menu li {
	display: inline;
}

.main-menu li a,
.footer-menu li a {
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	color: #474747;
	padding: 35px 20px;
}

.main-menu li a:hover,
.footer-menu li a:hover {
	color: #7dccff;
}

.header-search {
	float: right;
	margin-top: 15px;
}

.header-search a {
	height: 34px;
    width: 34px;
    border: none;
    background: #7dccff;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    margin-top: 12px;
}

/*------------------
  Hero Section
---------------------*/

.hero-section {
	clear: both;
}

.hero-slide-item {
	height: 694px;
	display: table;
	width: 100%;
	overflow: hidden;
}

.hs-text {
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.hs-title-1,
.hs-title-2,
.hs-title-3 {
	font-weight: 700;
	color: #fff;
	position: relative;
	margin-bottom: 10px;
}

.hs-title-1 span,
.hs-title-2 span,
.hs-title-3 span {
	display: inline-block;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: -1px -5px 20px 0px rgba(0, 0, 0, 0.3);
	        box-shadow: -1px -5px 20px 0px rgba(0, 0, 0, 0.3);
	opacity: 0;
}

.hs-title-1 {
	font-size: 72px;
	z-index: 3;
}

.hs-title-1 span {
	padding: 0 28px;
	background: #7dccff;
	-webkit-transform: rotate(4deg);
	    -ms-transform: rotate(4deg);
	        transform: rotate(4deg);
}

.hs-title-2 {
	font-size: 48px;
	z-index: 4;
}

.hs-title-2 span {
	padding: 5px 28px;
	background: #fdc856;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	left: 0;
	top: 0;
}

.hs-title-3 {
	font-size: 36px;
	z-index: 5;
}

.hs-title-3 span {
	padding: 10px 28px;
	background: #bdde64;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	top: 0;
}

.owl-item.active .hero-slide-item .hs-title-1 span,
.owl-item.active .hero-slide-item .hs-title-2 span,
.owl-item.active .hero-slide-item .hs-title-3 span {
	opacity: 1;
}

.owl-item.active .hero-slide-item .hs-title-1 span {
	-webkit-transform: rotate(0);
	    -ms-transform: rotate(0);
	        transform: rotate(0);
	-webkit-transition: all 0.4s ease 0.6s;
	-o-transition: all 0.4s ease 0.6s;
	transition: all 0.4s ease 0.6s;
}

.owl-item.active .hero-slide-item .hs-title-2 span {
	-webkit-transform: rotate(-6deg);
	    -ms-transform: rotate(-6deg);
	        transform: rotate(-6deg);
	left: 120px;
	top: -15px;
	-webkit-transition: all 0.4s ease 0.8s;
	-o-transition: all 0.4s ease 0.8s;
	transition: all 0.4s ease 0.8s;
}

.owl-item.active .hero-slide-item .hs-title-3 span {
	-webkit-transform: rotate(3deg);
	    -ms-transform: rotate(3deg);
	        transform: rotate(3deg);
	top: -15px;
	-webkit-transition: all 0.4s ease 1s;
	-o-transition: all 0.4s ease 1s;
	transition: all 0.4s ease 1s;
}

.hero-slider .owl-next {
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #7dccff;
	color: #7dccff;
	border-radius: 50%;
	right: 110px;
	top: calc(50% - 20px);
	text-align: center;
	font-size: 24px;
}

/*------------------
  Add Section
---------------------*/

.add-slider {
	position: absolute;
	width: calc(100% - 33.333333%);
	height: 100%;
	background: #333;
}

.add-slider .owl-stage-outer,
.add-slider .owl-stage,
.add-slider .owl-item,
.add-slider .as-item {
	height: 100%;
}

.add-text-warp {
	position: relative;
	z-index: 2;
}

.add-warp {
	position: relative;
	overflow: hidden;
}

.add-warp .add-text {
	background: #7dccff;
	padding: 50px 0 35px;
}

.add-warp .add-text:after {
	position: absolute;
	content: "";
	width: 160px;
	height: 123%;
	left: -80px;
	top: -61px;
	background: #7dccff;
	-webkit-transform: rotate(-25deg);
	    -ms-transform: rotate(-25deg);
	        transform: rotate(-25deg);
	z-index: -1;
}

.add-warp .add-text h2 {
	font-weight: 700;
	margin-bottom: 15px;
}

.add-warp .add-text ul {
	list-style: none;
}

.add-warp .add-text ul li {
	position: relative;
	font-weight: 500;
	font-size: 14px;
	padding-left: 30px;
	margin-bottom: 15px;
}

.add-warp .add-text ul li:after {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	left: 0;
	top: 0;
	background-image: url(../img/icon/check.png);
}

.add-warp .add-text .at-style {
	position: absolute;
	height: 100%;
	width: 40%;
	left: 0;
	z-index: -2;
}

.add-warp .add-text .at-style:after {
	position: absolute;
	content: "";
	width: 160px;
	height: 123%;
	left: -80px;
	top: -61px;
	background: #fdc856;
	-webkit-transform: rotate(-25deg);
	    -ms-transform: rotate(-25deg);
	        transform: rotate(-25deg);
	z-index: -1;
}

.add-warp .add-text .at-style:before {
	position: absolute;
	content: "";
	width: 160px;
	height: 123%;
	left: -87px;
	top: -26px;
	background: #bdde64;
	-webkit-transform: rotate(-25deg);
	    -ms-transform: rotate(-25deg);
	        transform: rotate(-25deg);
	z-index: -1;
}

/*------------------
  Recipes Section
---------------------*/

.recipes-section .container {
	margin-bottom: -30px;
}

.recipe {
	position: relative;
	margin-bottom: 30px;
}

.recipe .recipe-info-warp {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding-right: 80px;
	overflow: hidden;
}

.recipe .recipe-info {
	padding: 17px 25px 15px;
	background: #7dccff;
	position: relative;
}

/* .recipe .recipe-info:after { */
/* 	position: absolute; */
/* 	content: ""; */
/* 	width: 53px; */
/* 	height: calc(100% + 40px); */
/* 	right: -27px; */
/* 	bottom: 0; */
/* 	background: #7dccff; */
/* 	-webkit-transform: rotate(27deg); */
/* 	    -ms-transform: rotate(27deg); */
/* 	        transform: rotate(27deg); */
/* } */

.recipe .recipe-info h3 {
	font-size: 15px;
	color: #fff;
}

.recipe .rating i {
	font-size: 11px;
}

/*----------------------
  Bottom widget Section
------------------------*/

.bottom-widgets-section {
	background: #f4f7fb;
}

.sp-recipes-list {
	list-style: none;
}

.sp-recipes-list li {
	margin-bottom: 22px;
}

.sp-recipes-list .rl-thumb {
	width: 77px;
	height: 77px;
	float: left;
}

.sp-recipes-list .rl-info {
	padding-left: 90px;
}

.sp-recipes-list .rl-info span {
	font-size: 12px;
	font-weight: 500;
	color: #7dccff;
}

.sp-recipes-list .rl-info h6 {
	margin-bottom: 12px;
	padding-top: 2px;
}

.sp-recipes-list .rl-info .rating {
	font-size: 12px;
}

.sp-blog-item {
	margin-top: 30px;
	-webkit-box-shadow: 0 17px 29px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 17px 29px rgba(0, 0, 0, 0.15);
}

.sp-blog-item .blog-thubm {
	position: relative;
}

.sp-blog-item .blog-thubm img {
	min-width: 100%;
}

.sp-blog-item .blog-date {
	position: absolute;
	top: 0;
	left: 0;
	background: #7dccff;
	color: #fff;
	font-size: 14px;
	padding: 15px 24px 15px 30px;
}

.sp-blog-item .blog-date span {
	position: relative;
	z-index: 2;
}

.sp-blog-item .blog-date:after {
	position: absolute;
	content: "";
	right: -30px;
	top: 0;
	color: treansepernt;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 51px solid #7dccff;
	z-index: 0;
}

.sp-blog-item .blog-text {
	padding: 48px 40px 45px;
	background: #fff;
	position: relative;
}

.sp-blog-item .blog-text h5 {
	margin-bottom: 10px;
}

.sp-blog-item .blog-text span {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #7dccff;
}

.sp-blog-item .blog-text .comment {
	font-size: 12px;
	color: #474747;
}

.sp-blog-item .readmore {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 41px;
	height: 41px;
	text-align: center;
	background: #7dccff;
	color: #fff;
	font-size: 23px;
	padding-top: 4px;
}

/*------------------
  Review Section
---------------------*/

.review-section {
	padding: 65px 0;
	background: #fdc856;
}

.review-item {
	overflow: hidden;
	background: #fff;
}

.review-item .review-thumb {
	width: 166px;
	height: 160px;
	float: left;
	position: relative;
}

.review-item .review-text {
	padding-top: 25px;
	padding-left: 195px;
}

.review-item .review-text span {
	font-size: 12px;
	font-weight: 500;
	color: #7dccff;
}

.review-item .review-text h6 {
	margin-bottom: 10px;
}

.review-item .rating {
	font-size: 12px;
	margin-bottom: 15px;
}

.review-item .author-pic {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	float: left;
}

.review-item .review-date {
	position: absolute;
	top: 0;
	left: 0;
	background: #7dccff;
	color: #fff;
	font-size: 12px;
	padding: 9px 2px 8px 13px;
}

.review-item .review-date span {
	position: relative;
	z-index: 1;
}

.review-item .review-date:after {
	position: absolute;
	content: "";
	right: -19px;
	top: 0;
	color: treansepernt;
	border-left: 19px solid transparent;
	border-right: 19px solid transparent;
	border-top: 36px solid #7dccff;
	z-index: 0;
}

.review-item p {
	padding-left: 55px;
	margin-bottom: 0;
	padding-top: 4px;
}

/*------------------
  Gallery Section
---------------------*/

.gallery-slider .gs-item {
	height: 320px;
}

/*------------------
  Footer Section
---------------------*/

.footer-section {
	padding: 60px 70px 50px;
}

.footer-social {
	margin-top: 25px;
}

.footer-social a {
	color: #b8b8b8;
	font-size: 14px;
	margin-right: 30px;
}

.footer-social a:hover {
	color: #7dccff;
}

.footer-menu {
	float: none;
	margin-right: 0;
}

.footer-menu li a {
	padding: 20px 15px;
}

.footer-menu li:last-child a {
	padding-right: 0;
}

.copyright {
	margin-bottom: 0;
	padding-top: 10px;
	padding-left:500px;
}

/*------------------
  Pages
---------------------
========================*/

.page-top-section {
	text-align: center;
}

.page-top-section h2 {
	font-size: 72px;
	display: inline-block;
	font-weight: 700;
	color: #fff;
	padding: 5px 30px;
	margin: 68px 0;
	border-radius: 4px;
	background: #7dccff;
	-webkit-box-shadow: 0px 90px 100px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 90px 100px rgba(0, 0, 0, 0.4);
}

.site-pagination {
	padding-top: 70px;
}

.site-pagination a,
.site-pagination span {
	min-width: 48px;
	height: 48px;
	display: inline-block;
	text-align: center;
	padding: 13px 10px 0;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: #cccccc;
	margin-right: 4px;
}

.site-pagination span {
	background: #7dccff;
}

.recipe-view {
	text-align: right;
	padding-top: 20px;
}

.recipe-view i {
	font-size: 22px;
	margin-left: 5px;
	color: #cccccc;
	cursor: pointer;
}

.recipe-view i.active {
	color: #474747;
}

/*------------------
  About Pages
---------------------*/

.sf-warp {
	width: 1229px;
	margin: 72px auto 0;
	padding: 44px 0;
	background: #7dccff;
}

.big-search-form select {
	height: 59px;
	border: none;
	background: #fff;
	padding: 0 25px;
	font-size: 14px;
	color: #6d6d6d;
	font-style: italic;
	float: left;
	margin-right: 17px;
	width: calc(23.9% - 17px);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-image: url(../img/icon/angle-bottom.png);
	background-repeat: no-repeat;
	background-position: right 15px center;
	padding-right: 35px;
}

.big-search-form input {
	height: 59px;
	border: none;
	padding: 0 25px;
	margin-right: 17px;
	width: calc(40.6% - 17px);
	float: left;
	font-size: 14px;
}

.big-search-form .bsf-btn {
	border: none;
	height: 59px;
	font-size: 14px;
	color: #fff;
	min-width: 132px;
	background: #474747;
}

.big-search-form ::-webkit-input-placeholder {
	font-style: italic;
}

.big-search-form :-ms-input-placeholder {
	font-style: italic;
}

.big-search-form ::-ms-input-placeholder {
	font-style: italic;
}

.big-search-form ::placeholder {
	font-style: italic;
}

.about-text h2 {
	font-weight: 600;
	margin-bottom: 65px;
}

.about-text p {
	margin-bottom: 50px;
}

.facts-warp {
	width: 1558px;
	margin: 0 auto;
	background: #eff3f7;
	padding: 115px 0;
}

.fact-item {
	text-align: center;
}

.fact-item .fact-icon {
	margin-bottom: 20px;
}

.fact-item h2 {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 10px;
}

.fact-item p {
	font-size: 18;
	font-weight: 500;
	color: #474747;
}

.newsletter-section .nl-text h2 {
	font-weight: 600;
	margin-bottom: 50px;
}

.newsletter-section .nl-text p {
	font-size: 12px;
	font-style: italic;
	line-height: 2.4;
}

.newsletter-section .nl-sp-img {
	min-width: 649px;
	position: relative;
	left: 70px;
	padding-top: 20px;
}

.newsletter-form {
	position: relative;
	margin-bottom: 35px;
}

.newsletter-form input {
	width: 100%;
	font-size: 12px;
	border: none;
	height: 58px;
	padding-left: 35px;
	padding-right: 215px;
	background: #eff3f7;
}

.newsletter-form .site-btn {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

/*---------------------
  Recipe single Pages
------------------------*/

.recipe-view-section .rv-warp {
	height: 767px;
	width: 1540px;
	margin: -45px auto 0px;
	position: relative;
	z-index: -1;
}

.recipe-details-section {
	padding-top: 64px;
	padding-bottom: 70px;
}

.racipe-cata {
	display: inline-block;
	background: #7dccff;
	color: #fff;
	font-size: 16px;
	padding: 14px 20px 12px 30px;
	position: relative;
	margin-bottom: 10px;
}

.racipe-cata span {
	position: relative;
	z-index: 1;
}

.racipe-cata:after {
	position: absolute;
	content: "";
	right: -30px;
	top: 0;
	color: treansepernt;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 50px solid #7dccff;
	z-index: 0;
}

.recipe-meta h2 {
	font-weight: 600;
}

.recipe-meta .recipe-date {
	font-size: 14px;
	color: #a4a4a4;
	margin-bottom: 30px;
}

.recipe-meta .rating {
	margin-bottom: 55px;
}

.recipe-meta .rating i {
	margin-right: 2px;
}

.recipe-info-list {
	list-style: none;
	padding-left: 17px;
}

.recipe-info-list li {
	margin-bottom: 50px;
}

.recipe-info-list h2 {
	float: left;
	font-weight: 600;
	min-width: 60px;
}

.recipe-info-list p {
	padding-left: 70px;
	margin-bottom: 0;
	padding-top: 13px;
	font-size: 14px;
}

.recipe-filter-warp {
	background: #eff3f7;
}

.recipe-filter-warp .filter-top {
	padding-right: 110px;
	overflow: hidden;
}

.recipe-filter-warp .filter-top .filter-top-text {
	background: #7dccff;
	padding: 22px 50px;
	position: relative;
}

.recipe-filter-warp .filter-top .filter-top-text:after {
	position: absolute;
	content: "";
	width: 60px;
	height: 120%;
	right: -30px;
	top: -20px;
	background: #7dccff;
	-webkit-transform: rotate(22deg);
	    -ms-transform: rotate(22deg);
	        transform: rotate(22deg);
}

.recipe-filter-warp .filter-top .filter-top-text p {
	margin-bottom: 0;
	color: #fff;
	font-size: 15px;
	position: relative;
	z-index: 1;
}

.recipe-filter-warp .filter-form-warp {
	padding: 55px;
	padding-right: 30px;
}

.recipe-filter-warp .filter-form-warp h2 {
	font-weight: 600;
	margin-bottom: 35px;
}

.recipe-filter-warp .filter-form .check-warp {
	display: block;
	margin-bottom: 25px;
}

.recipe-filter-warp .filter-form .check-warp:last-child {
	margin-bottom: 0;
}

.recipe-filter-warp .filter-form label {
	font-size: 16px;
	position: relative;
	padding-left: 55px;
	padding-top: 2px;
	cursor: pointer;
}

.recipe-filter-warp .filter-form label:after {
	position: absolute;
	content: "";
	width: 27px;
	height: 27px;
	left: 0;
	top: 0;
	background: #fff;
	border: 1px solid #aaaaaa;
}

.recipe-filter-warp .filter-form input[type=checkbox] {
	visibility: hidden;
	position: absolute;
	z-index: -1;
}

.recipe-filter-warp .filter-form input[type=checkbox]:checked+label:after {
	background-image: url("../img/icon/check-2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #7dccff;
	border-color: #7dccff;
}

.comment-section h4 {
	font-weight: 600;
	margin-bottom: 75px;
}

.comment-form input,
.comment-form textarea,
.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 53px;
	border: none;
	background: #eff3f7;
	font-size: 14px;
	padding: 0 30px;
	margin-bottom: 25px;
}

.comment-form textarea,
.contact-form textarea {
	height: 232px;
	padding: 30px;
}

.comment-form .site-btn,
.contact-form .site-btn {
	min-width: 149px;
}

.comment-form ::-webkit-input-placeholder,
.contact-form ::-webkit-input-placeholder {
	font-style: italic;
}

.comment-form :-ms-input-placeholder,
.contact-form :-ms-input-placeholder {
	font-style: italic;
}

.comment-form ::-ms-input-placeholder,
.contact-form ::-ms-input-placeholder {
	font-style: italic;
}

.comment-form ::placeholder,
.contact-form ::placeholder {
	font-style: italic;
}

/*------------------
  Contact Pages
---------------------*/

.contact-form-warp h4 {
	font-weight: 600;
	margin-bottom: 75px;
}

.contact-logo {
	margin-bottom: 40px;
}

.contact-info {
	padding-left: 95px;
}

.contact-info .ct-list {
	list-style: none;
}

.contact-info .ct-list li {
	margin-bottom: 25px;
}

.contact-info .ct-list h6 {
	display: inline-block;
	color: #7dccff;
	padding-bottom: 1px;
	border-bottom: 1px solid #7dccff;
	margin-bottom: 5px;
}

.contact-info .ct-list p {
	margin-bottom: 0;
	font-weight: 500;
	color: #474747;
}

.contact-social {
	padding-top: 30px;
}

.contact-social a {
	color: #474747;
	margin-right: 30px;
}

.contact-social a:last-child {
	margin-right: 0;
}

.location-map {
	height: 579px;
	margin-top: 16px;
	background: #ddd;
}

/*------------------
	Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

@media (max-width: 1559px) {
	.facts-warp {
		width: 100%;
	}
	.newsletter-section .nl-sp-img {
		min-width: auto;
		left: 30px;
	}
	.recipe-view-section .rv-warp {
		width: 100%;
		margin-top: 0;
	}
}

@media (max-width: 1250px) {
	.sf-warp {
		width: 100%;
	}
	.newsletter-section .nl-sp-img {
		left: 0;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu {
		margin-right: 40px;
	}
	.gallery-slider .gs-item {
		height: 235px;
	}
	.hero-slide-item .hs-text {
		-webkit-transform: scale(0.8);
		    -ms-transform: scale(0.8);
		        transform: scale(0.8);
		-webkit-transform-origin: center center;
		    -ms-transform-origin: center center;
		        transform-origin: center center;
	}
	.big-search-form input {
		width: calc(37.6% - 17px);
	}
	.footer-menu li a {
		padding: 15px 8px;
	}
	.recipe .recipe-info:after {
		right: -32px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		max-width: 170px;
	}
	.main-menu {
		margin-right: 15px;
	}
	.main-menu li a {
		padding: 10px 12px;
	}
	.header-search {
		margin-top: 0;
	}
	.hero-slide-item .hs-text {
		-webkit-transform: scale(0.7);
		    -ms-transform: scale(0.7);
		        transform: scale(0.7);
		-webkit-transform-origin: center center;
		    -ms-transform-origin: center center;
		        transform-origin: center center;
	}
	.hero-slider .owl-next {
		right: 50px;
	}
	.review-item {
		margin: 10px 0;
	}
	.gallery-slider .gs-item {
		height: 242px;
	}
	.footer-menu li:first-child a {
		padding-left: 0;
	}
	.big-search-form select {
		width: calc(51% - 17px);
		margin-bottom: 20px;
	}
	.big-search-form select:nth-child(2) {
		margin-right: 0;
	}
	.big-search-form input {
		width: calc(73.3% - 17px);
	}
	.big-search-form .bsf-btn {
		width: 182px;
	}
	.about-text {
		margin-bottom: 30px;
	}
	.fact-item {
		margin-bottom: 40px;
	}
	.facts-section .container {
		margin-bottom: -40px;
	}
	.recipe-filter-warp {
		margin-bottom: 50px;
	}
	.contact-form-warp {
		margin-bottom: 50px;
	}
	.contact-info {
		padding-left: 0;
	}
	.contact-info .ct-list li {
		float: left;
		margin-right: 50px;
	}
	.contact-info .ct-list li:last-child {
		margin-right: 0;
	}
	.contact-social {
		clear: both;
		margin-bottom: 40px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.main-menu {
		display: none;
		float: none;
		position: absolute;
		background: #fff;
		width: 100%;
		left: 0;
		top: 100%;
		z-index: 999;
	}
	.main-menu li {
		display: block;
	}
	.main-menu li a {
		display: block;
		color: #333;
		margin-left: 0;
		padding: 13px 20px;
		border-top: 1px solid #ededed;
	}
	.nav-switch {
		display: block;
		float: right;
		width: 38px;
		height: 38px;
		border: 1px solid #ddd;
		text-align: center;
		font-size: 24px;
		margin-left: 15px;
	}
	.header-search {
		margin-top: 0;
	}
	.hero-slide-item {
		height: 594px;
	}
	.hero-slide-item .hs-text {
		-webkit-transform: scale(0.6);
		    -ms-transform: scale(0.6);
		        transform: scale(0.6);
		-webkit-transform-origin: center center;
		    -ms-transform-origin: center center;
		        transform-origin: center center;
	}
	.hs-title-1 {
		font-size: 60px;
	}
	.hs-title-2 {
		font-size: 45px;
	}
	.hs-title-3 {
		font-size: 35px;
	}
	.hero-slider .owl-next {
		right: 20px;
	}
	.add-warp {
		padding-left: 170px;
	}
	.review-item {
		margin: 10px 0;
	}
	.ftw-warp:first-child {
		margin-bottom: 30px;
	}
	.footer-section {
		text-align: center;
	}
	.footer-social a {
		color: #474747;
		margin-right: 20px;
	}
	.footer-menu {
		margin: 30px 0 10px;
	}
	.footer-menu li a {
		padding: 5px 10px;
	}
	.gallery-slider .gs-item {
		height: 150px;
	}
	.big-search-form select,
	.big-search-form input {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.big-search-form {
		text-align: center;
	}
	.big-search-form .bsf-btn {
		width: 182px;
	}
	.about-text {
		margin-bottom: 30px;
	}
	.fact-item {
		margin-bottom: 40px;
	}
	.facts-section .container {
		margin-bottom: -40px;
	}
	.page-top-section h2 {
		font-size: 42px;
	}
	.recipe-filter-warp {
		margin-bottom: 50px;
	}
	.recipe-view {
		margin-bottom: 20px;
	}
	.footer-section {
		padding: 60px 15px 50px;
	}
	.contact-form-warp {
		margin-bottom: 50px;
	}
	.contact-info {
		padding-left: 0;
	}
	.contact-info .ct-list li {
		float: left;
		margin-right: 50px;
	}
	.contact-info .ct-list li:last-child {
		margin-right: 0;
	}
	.contact-social {
		clear: both;
		margin-bottom: 40px;
	}
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
	.add-warp {
		padding-left: 0px;
	}
	.add-warp .add-text {
		padding-left: 30px;
		padding-right: 20px;
	}
	.hero-slide-item .hs-text {
		-webkit-transform: scale(0.6);
		    -ms-transform: scale(0.6);
		        transform: scale(0.6);
	}
	.hs-title-1 {
		font-size: 40px;
	}
	.hs-title-2 {
		font-size: 30px;
	}
	.hs-title-3 {
		font-size: 20px;
	}
	.owl-item.active .hero-slide-item .hs-title-1 span,
	.owl-item.active .hero-slide-item .hs-title-2 span,
	.owl-item.active .hero-slide-item .hs-title-3 span {
		-webkit-transform: rotate(0);
		    -ms-transform: rotate(0);
		        transform: rotate(0);
		left: 0;
		top: 0;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.site-logo {
		max-width: 170px;
	}
	.header-social {
		display: none;
	}
	.user-panel {
		float: none;
		text-align: center;
	}
	.gallery-slider .gs-item {
		height: 100px;
	}
	.review-item .review-thumb {
		float: none;
		margin: 20px auto 0;
	}
	.review-item .review-text {
		clear: both;
		padding-bottom: 30px;
		padding-left: 30px;
		text-align: center;
	}
	.review-item .author-pic {
		float: none;
		display: inline-block;
	}
	.review-item p {
		padding-left: 0;
	}
	.page-top-section h2 {
		font-size: 32px;
	}
	.recipe-filter-warp .filter-top {
		padding-right: 58px;
	}
	.recipe-info-list {
		padding-left: 0;
	}
}

@media only screen and (max-width: 330px) {
	.recipe-filter-warp .filter-top,
	.recipe .recipe-info-warp {
		padding-right: 0;
	}
}