.recipe .recipe-info {
    padding: 5px 5px 5px 5px;
    background: #7dccff;
    position: relative;
}

.recipe .recipe-info-warp {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-right: 0px;
    overflow: hidden;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 65px;
}

.container .signature{
	width: 100%;
    padding-right: 80px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

#sendsigbtn {
    height: 248px;
    width: 518px;
}

#memberPhoto{
	border-radius: 50%;
	height:30px;
	width:30px;
}

.recipe .recipe-info-warp .listone{
    position: absolute;
    width: 70px;
    bottom: 0;
    left: 0;
    padding-right: 0px;
    overflow: hidden;
}



#dropmem{
    display: inline-block;
	padding: 5px;
}