.recipe .recipe-info-warp {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    /* padding-right: 80px; */
    overflow: hidden;
}

#loginBtn{
	width:100%;
/* 	height:100px; */
	padding:5px;
}

#memberPhoto{
	border-radius: 50%;
	height:30px;
	width:30px;
}

/* .row { */
/*     display: -ms-flexbox; */
/*     display: flex; */
/*     -ms-flex-wrap: wrap; */
/*     flex-wrap: wrap; */
/*     margin-right: -15px; */
/*     margin-left: 280px; */
/* } */

@media (min-width: 992px)
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 0%;
}
